.header .navigation ul {
  justify-content: space-evenly;
}
.showcase-content {
  flex-direction: column;
}
._svg img {
  max-width: 80%;
  max-height: 60%;
}

.what_ticky--content > div {
  flex-direction: column;
  padding: 2rem 0rem;
}
.what_ticky--content > div p:nth-child(1) {
  margin-right: 0;
  margin-bottom: 2rem;
}

.how_ticky-items {
  grid-template-columns: repeat(1, 1fr);
}
.add_ticky--content p {
  width: 90%;
}
.main-footer a {
  bottom: 56px;
}
